.authorization {
	display: flex;
	flex-direction: column;
	padding: 0 26px;
}

.form {
	display: flex;
	flex-direction: column;
	margin-top: 4.5rem;
	margin-left: 2.5rem;
	width: 286px;
	&-wrap {
		display: flex;
		position: relative;
		margin: 0;
		margin-top: 35px;
		gap: 30px;
		border-bottom: 1px solid #c1c7d0;
		padding-bottom: 9px;
		&:nth-child(1) {
			margin-top: 0;
		}
	}
}

.password-restore {
	text-align: center;
	.restore-link {
		display: inline-block;
		color: #324a59;
		font-size: 14px;
		font-weight: 500;
		line-height: 13px;
		margin-top: 32px;
		text-decoration: none;
		border-bottom: 1px solid #324a59;
	}
}

.sign-up {
	margin-left: 2.5rem;
	margin-bottom: 7rem;
	color: #aaa;
	font-size: 14px;
	font-weight: 400;
	a {
		color: #324a59;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
	}
}
