.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	width: 154px;
	height: 164px;
	background: #f7f8fb;
	text-decoration: none;
	&__block {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		height: 90px;
		img {
			display: block;
			object-fit: cover;
			width: 100%;
			object-position: center;
		}
	}
	&__title {
		color: #001833;
		margin-top: 1.2rem;
		font-family: DM Sans;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: -0.2px;
	}
}
