.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #324a59;
  border-radius: 50%;
  border: 1px solid #324a59;
  align-self: end;
}

.arrow-next {
  display: block;
  object-fit: cover;
}

.welcome-page {
  margin: 8rem 4.7rem 5rem 0;
}

.authorization-page {
  align-items: center;
  margin: 12rem 3.7rem 12rem 0;
}
