.btn {
  width: 64px;
  height: 64px;
  background-color: #324a59;
  border-radius: 50%;
  //   margin: 8rem 4.7rem 5rem 0;
  border: 1px solid #324a59;
  align-self: end;
}

.welcome-page {
  margin: 8rem 4.7rem 5rem 0;
}
