.form-wrap {
	display: flex;
	position: relative;
	margin: 0;
	margin-top: 35px;
	gap: 30px;
	border-bottom: 1px solid #c1c7d0;
	padding-bottom: 9px;
	&:nth-child(1) {
		margin-top: 0;
	}
}

.form-image {
	position: relative;
	margin-left: 10px;
	width: 21px;
	height: 18px;
	img {
		display: block;
		width: 17px;
		height: 17px;
	}
	&::after {
		display: block;
		position: absolute;
		content: '';
		width: 25px;
		top: 10px;
		left: 16px;
		border-bottom: 0.5px solid #c1c7d0;
		transform: rotate(90deg);
	}
}

.form-password {
	padding-right: 34px;
}

.form-show {
	position: absolute;
	width: 18px;
	height: 14px;
	top: 2px;
	right: 7px;
	img {
		display: block;
		object-fit: cover;
	}
	&::before {
		transition: opacity 0.2s linear;
		opacity: 0;
		display: block;
		position: absolute;
		content: '';
		width: 21px;
		top: 7px;
		left: -2px;
		border-bottom: 0.5px solid #000205;
		transform: rotate(-45deg);
	}
}

.form-show.view {
	&::before {
		opacity: 1;
	}
}
